<a href="https://colab.research.google.com/github/826aryan/Data_Analysis/blob/main/OneHotEncoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
df= pd.read_csv('/content/cars.csv')

In [5]:
df.sample(10)

         brand  km_driven    fuel         owner  selling_price
4473    Maruti      27000  Petrol   First Owner         850000
1252    Maruti      35000  Petrol  Second Owner          35000
632   Mahindra      60000  Diesel   First Owner        1100000
4407      Tata     135000  Diesel   First Owner         525000
5685    Maruti      65000  Diesel   First Owner         900000
8046     Honda      37151  Diesel   First Owner         525000
874       Tata     120000  Diesel  Second Owner         150000
1723       BMW       7500  Diesel   First Owner        5400000
7704  Mahindra      12000  Diesel   First Owner         900000
5021    Maruti      30000  Petrol   First Owner         465000

In [6]:
df['brand'].value_counts()

brand
Maruti           2448
Hyundai          1415
Mahindra          772
Tata              734
Toyota            488
Honda             467
Ford              397
Chevrolet         230
Renault           228
Volkswagen        186
BMW               120
Skoda             105
Nissan             81
Jaguar             71
Volvo              67
Datsun             65
Mercedes-Benz      54
Fiat               47
Audi               40
Lexus              34
Jeep               31
Mitsubishi         14
Land                6
Force               6
Isuzu               5
Ambassador          4
Kia                 4
MG                  3
Daewoo              3
Ashok               1
Opel                1
Peugeot             1
Name: count, dtype: int64

#one hot encoding using pandas

In [15]:
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True).shape

(8128, 10)

#OneHotEncoding using SKlearn

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,0:4],df.iloc[:,-1],test_size=0.2,random_state=42)

In [22]:
X_train.head()

        brand  km_driven    fuel                 owner
6518     Tata       2560  Petrol           First Owner
6144    Honda      80000  Petrol          Second Owner
6381  Hyundai     150000  Diesel  Fourth & Above Owner
438    Maruti     120000  Diesel          Second Owner
5939   Maruti      25000  Petrol           First Owner

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [51]:
ohe=OneHotEncoder(drop='first',sparse_output=False,dtype=np.int32)

In [52]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']])

In [53]:
X_test_new = ohe.transform(X_train[['fuel','owner']])

In [54]:
import numpy as np

In [56]:
np.hstack((X_train[['brand','km_driven']].values,X_train_new))

array([['Tata', 2560, 0, ..., 0, 0, 0],
       ['Honda', 80000, 0, ..., 1, 0, 0],
       ['Hyundai', 150000, 1, ..., 0, 0, 0],
       ...,
       ['Hyundai', 35000, 0, ..., 0, 0, 0],
       ['Maruti', 27000, 1, ..., 0, 0, 0],
       ['Maruti', 70000, 0, ..., 1, 0, 0]], dtype=object)

#Encoding the Brand columns

In [62]:
counts=df['brand'].value_counts()

In [61]:
threshold=100

In [63]:
repl= counts[counts<=threshold].index

In [64]:
pd.get_dummies(df['brand'].replace(repl,'uncommon'))

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,uncommon
0,False,False,False,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False
2,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,True,False,False,False,False,False,False,False,False
8124,False,False,False,False,True,False,False,False,False,False,False,False,False
8125,False,False,False,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,True,False,False,False
8127,False,False,False,False,False,False,False,False,False,True,False,False,False